<div class="main">
    <div class="container">
  
      <form class="form"  style="display: flex;
      flex-direction: row;
    justify-content: space-between;">
        <div class="sect1" style="grid-row: auto;">
        <label for="mail"></label>
        <input type="email" id="email" 
        [(ngModel)]="shift.email"
        name="email"
        placeholder="e-mail" pattern="[a-zA-Z0-9]+([.][a-zA-Z0-9]+)@[a-zA-Z0-9]+([.][a-zA-Z0-9]+)[.][a-zA-Z]{1,5}" >
        
        
        <!-- <label for="animal"></label>
        <select id="animal" name="animal">
          <option value=""></option>
          <option value="perro">Perro</option>
          <option value="gato">Gato</option>
          <option value="roedor">Roedor</option>
          <option value="ave">Ave</option>
          <option value="otro">Otros</option>
        </select> -->
    
        <label for="subject"></label>
        <textarea id="subject" name="subject"
        [(ngModel)]="shift.disease"
        #subject = "ngModel"
        placeholder="Motivo por la consulta?" style="height:200px"></textarea>
      </div>
      <div class="sect2">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepickerFilter]="myFilter" [(ngModel)]="shift.date" name="date" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <select [(ngModel)]="shift.time" name="time">
          <option *ngFor="let time of timeOptions" [value]="time">{{ time }}</option>
        </select>
    
        <input type="submit" (click)="addShift()" value="Submit">
      </div>
      </form>
    </div>
</div>