
<div class="container-sideboard">
    <img class="logo" src="../../../assets/login/perro-feliz-rastas-sobre-fondo-oscuro-espacio-banner-texto-generado-ai_409674-550.jpg" alt="">
    <div class="list-routes">
        <h3><i class="fa-solid fa-user"></i> Bhalta</h3> 
        <ul>
            <li><a routerLink="home" routerLinkActive="active">Inicio</a></li>
            <li><a routerLink="shifts" routerLinkActive="active">Turnos</a></li>
            <li><a routerLink="users" routerLinkActive="active">Pacientes</a></li>
            <li><a routerLink="market" routerLinkActive="active">Productos</a></li>
            <li><a routerLink="contacts" routerLinkActive="active">Contactanos</a></li>
            <li class="close" style=""><a href="/contacts">Cerrar sesion</a></li>
        </ul>
    </div>
</div>