<body>
    <h1>Bienvenido a Huesitos!</h1>

    <div class="container-seccion">
        <figure class="card">
            <img src="../../../assets/home/Foto-turnos.jpg" alt="">
            <figcaption>
                <h3><a routerLink="/users" routerLinkActive="active">Registrar turnos</a></h3>
            </figcaption>
        </figure>

        <figure class="card" style="margin-right: 0;">
            <img src="../../../assets/home/Foto-pacientes.jpg" alt="">
            <figcaption>
                <h3><a routerLink="/users" routerLinkActive="active">Pacientes</a></h3>
            </figcaption> 
        </figure>

        
    </div>

    <div class="container-seccion">
        <figure class="card" >
            <img src="../../../assets/home/Foto-turnos-lista2.jpg" alt="">
            <figcaption>
                <h3><a routerLink="/shifts" routerLinkActive="active">Lista turnos</a></h3>
            </figcaption>
        </figure>
        
        <figure class="card" style="margin-right: 0;">
            <img src="../../../assets/home/Foto-productos3.png" alt="">
            <figcaption>
                <h3><a routerLink="/market" routerLinkActive="active">Productos</a></h3>
            </figcaption> 
        </figure>
    </div>
</body>