
<div class="container">
    <div class="userlist">
        <table class="talba-usuarios">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Usuario</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Ver Mascotas</th>
                </tr>
            </thead>
            <tbody *ngFor="let user of listUsers">
                <tr>
                    <th>{{user.id}}</th>
                    <th>{{user.username}}</th>
                    <th>{{user.phone}}</th>
                    <th>{{user.email}}</th>
                    <th><button (click)="selectedUser(user.id)">Pet</button></th>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>

<div class="container" *ngIf="petsView == true">
    <app-pets [userId]="userSelected"></app-pets>
</div>