<div class="table"  >

    <div class="table_body">
        
    <table>
        <thead>
            <tr>
                <!-- <th scope="row">ID</th> -->
                <th>Username<th>
                <th>Pet</th>
                <th>Disease</th>
                <th>Date</th>
                <th>Status</th> 
                <th>Check</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pet of pets">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>  
            </tr>
        </tbody>
     </table>
    </div>
</div>